.App {
  text-align: left;
}

.container {
display: flex;
flex-direction: column;
align-items: center;
margin-top: 10px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.btn {
width: 200px;
}

.image {
margin-top: 10px;
}
